@import "tailwindcss";

:root {
    --background: #e2cfc5;
    --foreground: #7b0121;
    --secondary: #421c0a;
}

@theme {
    --color-darkburgundy: #7b0121;
    --color-pinkbeige: #e2cfc5;
    --color-oldbeige: #fff5ef;
    --color-lightred: #d5878a;
    --color-textbrown: #421c0a;
}

html {
    scroll-behavior: smooth;
}

@keyframes shadow-pulse {
    0%,
    100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 4px 4px #7b012180;
    }
}

.shadow-pulse {
    animation: shadow-pulse 1.5s ease-in-out 1;
}

@keyframes change-bg {
    from {
        background-color: var(--color-darkburgundy);
        color: var(--color-pinkbeige);
    }
    to {
        background-color: var(--color-pinkbeige);
        color: var(--color-darkburgundy);
    }
}

.change-bg {
    animation: change-bg ease-in forwards;
    animation-timeline: scroll();
    animation-range: 0vh 75vh;
}

.selected {
    background-color: color-mix(in oklab, #d58789 40%, transparent);
}
/* @theme {
    --color-darkburgundy: #760933;
    --color-pinkbeige: #f7f5eb;
    --color-lightred: #b32442;
    --color-textbrown: #042a38;
} */

body {
    background: var(--color-pinkbeige);
    color: var(--foreground);
}
