@import "tailwindcss";

:root {
    --background: #fff8f6;
    --foreground: #a3002c;
    --secondary: #0c1844;
    --color-darkburgundy: #a3002c;
    --color-pinkbeige: #fff8f6;
    --color-lightred: #ed8c91;
    --color-textbrown: #0c1844;
}

.dark {
    --background: #a3002c;
    --foreground: #fff8f6;
    --secondary: #0c1844;
    --color-darkburgundy: #fff8f6;
    --color-pinkbeige: #a3002c;
    --color-lightred: #0c1844;
    --color-textbrown: #ed8c91;
}

@theme {
    --color-darkburgundy: #a3002c;
    --color-pinkbeige: #fff8f6;
    --color-lightred: #ed8c91;
    --color-textbrown: #0c1844;
}

html {
    scroll-behavior: smooth;
}

@keyframes shadow-pulse {
    0%,
    100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 4px 4px #ed8c91;
    }
}

.shadow-pulse {
    animation: shadow-pulse 1.5s ease-in-out 1;
}

@keyframes change-bg {
    from {
        background-color: var(--color-darkburgundy);
        color: var(--color-pinkbeige);
    }
    to {
        background-color: var(--color-pinkbeige);
        color: var(--color-darkburgundy);
    }
}

.change-bg {
    animation: change-bg ease-in forwards;
    animation-timeline: scroll();
    animation-range: 0vh 75vh;
}

.selected {
    background-color: color-mix(in oklab, #d58789 40%, transparent);
}

body {
    background: var(--color-pinkbeige);
    color: var(--foreground);
}
