@import "tailwindcss";

:root {
    --background: #fff8f6;
    --foreground: #a3002c;
    --secondary: #0c1844;
    --color-darkburgundy: #a3002c;
    --color-pinkbeige: #fff8f6;
    --color-lightred: #ed8c91;
    --color-textbrown: #0c1844;

    /* rgb values of the background andn foreground for the scroll animation */
    --bg-r: 163;
    --bg-g: 0;
    --bg-b: 44;

    --fg-r: 255;
    --fg-g: 248;
    --fg-b: 246;
}

.dark {
    --background: #a3002c;
    --foreground: #fff8f6;
    --secondary: #0c1844;
    --color-darkburgundy: #fff8f6;
    --color-pinkbeige: #a3002c;
    --color-lightred: #ed8c91;
    --color-textbrown: #fff8f6;

    /* rgb values of the background andn foreground for the scroll animation */
    --fg-r: 163;
    --fg-g: 0;
    --fg-b: 44;

    --bg-r: 255;
    --bg-g: 248;
    --bg-b: 246;
}

@theme {
    --color-darkburgundy: #a3002c;
    --color-pinkbeige: #fff8f6;
    --color-lightred: #ed8c91;
    --color-lightred-rgb: 237, 140, 145;
    --color-textbrown: #0c1844;
}

::selection {
    background: rgba(var(--color-lightred-rgb), 0.4);
}

@keyframes shadow-pulse {
    0%,
    100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 4px 4px #ed8c91;
    }
}

.shadow-pulse {
    animation: shadow-pulse 1.5s ease-in-out 1;
}

/* @keyframes change-bg {
    from {
        background-color: var(--color-darkburgundy);
        color: var(--color-pinkbeige);
    }
    to {
        background-color: var(--color-pinkbeige);
        color: var(--color-darkburgundy);
    }
} */

/* .change-bg {
    background-color: var(--color-darkburgundy);
    color: var(--color-pinkbeige);
    /* transition: background-color 600ms ease, color 600ms ease; */

/* removing to test cross-platform-compatible versin of this animation
    animation: change-bg ease-in forwards;
    animation-timeline: scroll();
    animation-range: 0vh 75vh; */
/* } */

/* body.scroll-change .change-bg {
    background-color: var(--color-pinkbeige);
    color: var(--color-darkburgundy);
} */

.change-bg {
    background-color: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
    color: rgb(var(--fg-r), var(--fg-g), var(--fg-b));
}

@keyframes arrow-bounce {
    0%,
    100% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(-25%);
    }
}

.arrow-bounce {
    animation: arrow-bounce 1.4s ease-in-out 1;
    animation-iteration-count: infinite;
}

.selected {
    background-color: color-mix(in oklab, #d58789 40%, transparent);
}

body {
    background: var(--color-pinkbeige);
    color: var(--foreground);
}

/* .link {
    text-decoration: rgba(var(--color-lightred-rgb), 0.7) underline;
} */

/* link underline that slides up on hover */
.link {
    color: black;
    background-image: linear-gradient(
        rgba(var(--color-lightred-rgb), 0.4),
        rgba(var(--color-lightred-rgb), 0.4)
    );
    background-size: 100% 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s ease-in-out;
}

.link:hover,
.link:focus,
.link:active {
    background-size: 100% 90%;
}
