@import "tailwindcss";

:root {
    --background: #fff8f6;
    --foreground: #a3002c;
    --secondary: #0c1844;
    --color-darkburgundy: #a3002c;
    --color-pinkbeige: #fff8f6;
    --color-lightred: #ed8c91;
    --color-textbrown: #0c1844;

    /* rgb values of the background andn foreground for the scroll animation */
    --bg-r: 163;
    --bg-g: 0;
    --bg-b: 44;

    --fg-r: 255;
    --fg-g: 248;
    --fg-b: 246;
}

.dark {
    --background: #a3002c;
    --foreground: #fff8f6;
    --secondary: #0c1844;
    --color-darkburgundy: #fff8f6;
    --color-pinkbeige: #a3002c;
    --color-lightred: #ed8c91;
    --color-textbrown: #fff8f6;

    /* rgb values of the background andn foreground for the scroll animation */
    --fg-r: 163;
    --fg-g: 0;
    --fg-b: 44;

    --bg-r: 255;
    --bg-g: 248;
    --bg-b: 246;
}

@theme {
    --color-darkburgundy: #a3002c;
    --color-pinkbeige: #fff8f6;
    --color-lightred: #ed8c91;
    --color-lightred-rgb: 237, 140, 145;
    --color-textbrown: #0c1844;
}

::selection {
    background: rgba(var(--color-lightred-rgb), 0.4);
}

@keyframes shadow-pulse {
    0%,
    100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 4px 4px #ed8c91;
    }
}

.shadow-pulse {
    animation: shadow-pulse 1.5s ease-in-out 1;
}

/* @keyframes change-bg {
    from {
        background-color: var(--color-darkburgundy);
        color: var(--color-pinkbeige);
    }
    to {
        background-color: var(--color-pinkbeige);
        color: var(--color-darkburgundy);
    }
} */

/* .change-bg {
    background-color: var(--color-darkburgundy);
    color: var(--color-pinkbeige);
    /* transition: background-color 600ms ease, color 600ms ease; */

/* removing to test cross-platform-compatible versin of this animation
    animation: change-bg ease-in forwards;
    animation-timeline: scroll();
    animation-range: 0vh 75vh; */
/* } */

/* body.scroll-change .change-bg {
    background-color: var(--color-pinkbeige);
    color: var(--color-darkburgundy);
} */

.change-bg {
    background-color: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
    color: rgb(var(--fg-r), var(--fg-g), var(--fg-b));
}

@keyframes arrow-bounce {
    0%,
    100% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(-25%);
    }
}

.arrow-bounce {
    animation: arrow-bounce 1.4s ease-in-out 1;
    animation-iteration-count: infinite;
}

.selected {
    background-color: color-mix(in oklab, #d58789 40%, transparent);
}

body {
    background: var(--color-pinkbeige);
    color: var(--foreground);
}

/* .link {
    text-decoration: rgba(var(--color-lightred-rgb), 0.7) underline;
} */

/* link underline that slides up on hover */
.link {
    color: var(--color-textbrown);
    background-image: linear-gradient(
        rgba(var(--color-lightred-rgb), 0.4),
        rgba(var(--color-lightred-rgb), 0.4)
    );
    background-size: 100% 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s ease-in-out;
}

.link:hover,
.link:focus,
.link:active {
    background-size: 100% 90%;
}

@font-face {
    font-family: "Sentient-Extralight";
    src:
        url("./fonts/Sentient-Extralight.woff2") format("woff2"),
        url("./fonts/Sentient-Extralight.woff") format("woff"),
        url("./fonts/Sentient-Extralight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-ExtralightItalic";
    src:
        url("./fonts/Sentient-ExtralightItalic.woff2") format("woff2"),
        url("./fonts/Sentient-ExtralightItalic.woff") format("woff"),
        url("./fonts/Sentient-ExtralightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Sentient-Light";
    src:
        url("./fonts/Sentient-Light.woff2") format("woff2"),
        url("./fonts/Sentient-Light.woff") format("woff"),
        url("./fonts/Sentient-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-LightItalic";
    src:
        url("./fonts/Sentient-LightItalic.woff2") format("woff2"),
        url("./fonts/Sentient-LightItalic.woff") format("woff"),
        url("./fonts/Sentient-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Sentient-Regular";
    src:
        url("./fonts/Sentient-Regular.woff2") format("woff2"),
        url("./fonts/Sentient-Regular.woff") format("woff"),
        url("./fonts/Sentient-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-Italic";
    src:
        url("./fonts/Sentient-Italic.woff2") format("woff2"),
        url("./fonts/Sentient-Italic.woff") format("woff"),
        url("./fonts/Sentient-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Sentient-Medium";
    src:
        url("./fonts/Sentient-Medium.woff2") format("woff2"),
        url("./fonts/Sentient-Medium.woff") format("woff"),
        url("./fonts/Sentient-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-MediumItalic";
    src:
        url("./fonts/Sentient-MediumItalic.woff2") format("woff2"),
        url("./fonts/Sentient-MediumItalic.woff") format("woff"),
        url("./fonts/Sentient-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Sentient-Bold";
    src:
        url("./fonts/Sentient-Bold.woff2") format("woff2"),
        url("./fonts/Sentient-Bold.woff") format("woff"),
        url("./fonts/Sentient-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-BoldItalic";
    src:
        url("./fonts/Sentient-BoldItalic.woff2") format("woff2"),
        url("./fonts/Sentient-BoldItalic.woff") format("woff"),
        url("./fonts/Sentient-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0wght 400.0;
*
* available axes:
'wght' (range from 200.0 to 700.0'wght' (range from 200.0 to 700.0
*/
@font-face {
    font-family: "Sentient-Variable";
    src:
        url("./fonts/Sentient-Variable.woff2") format("woff2"),
        url("./fonts/Sentient-Variable.woff") format("woff"),
        url("./fonts/Sentient-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0wght 400.0;
*
* available axes:
'wght' (range from 200.0 to 700.0'wght' (range from 200.0 to 700.0
*/
@font-face {
    font-family: "Sentient-VariableItalic";
    src:
        url("./fonts/Sentient-VariableItalic.woff2") format("woff2"),
        url("./fonts/Sentient-VariableItalic.woff") format("woff"),
        url("./fonts/Sentient-VariableItalic.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}
